@media screen and (min-width: 480px) {
 
  /******************************
  TWO COLUMN LAYOUT
  *******************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  
    
  
  /******************************
  PAGE: PORTFOLIO
  *******************************/
  .gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

.gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 1.75em;
  color: #bdc3c7;
  text-align: center;
}
  
  .gallery li:nth-child(4n) {
    clear: left;
  }
  

  
  /******************************
  PAGE: ABOUT
  *******************************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }  
  

@media screen and (min-width: 660px) {
 
  /******************************
  PAGE: ABOUT
  *******************************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.5em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size:1.825em;
    margin-bottom: 80px;
    font-family: sans-serif;
  }
  
  header {
    border-bottom: 5px solid #990000;
    margin-bottom: 60px;
  }
  
  
  
  
}
